#logo {
	font-size:80px;
	text-align: center;
	font-family:monospace;
	text-shadow: 2px 10px 10px #888;
}

header div {
	font-size:20px;
	text-align: center;
}

header a {
	color:#fafafa;
}

header a:hover {
	color:#000000;
}

#avatar {
	max-width:200px;
	max-height:200px;
}

.socialmedia {
	width:140px;
	top:10px;
	display:inline;
}

#contact {
	font-size:30px;
}

#contactme {
	font-size:30px;
	text-align: center;
	font-family: monospace;
	/*text-shadow: 2px 10px 10px #888;*/
}