#bg {
	width:80%;
	margin:auto;
}

#header p {
	font-size:40px;
	text-align: center;
	padding-right:20%;
}

#sidebar {
	float:right;
	width:auto;
/*	position:absolute;
	display:block;
	float:right;
	top:100px;
	right:10%;*/
}

#blogpost {
	width:80%;
	float:left;
/*	position:relative;
	top:0px;
	display:block;
	font-size: 14px;*/
}

#blogheader {
	text-align: center;
	font-size:18px;
}

